*{
    box-sizing: border-box;
}

.app{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: gainsboro;
    top: 0;
    left: 0;
}

.header-behind{
    position: absolute;
    background-color: #00af9c;
    /* margin-left: 12%;
    margin-top: 155px; */
    z-index: 100;
    width: 100%;
    height: 35vh;
    padding-top: 40px;
    padding-left: 80px;
}

.web-name{
    margin-left: 75px;
    margin-top: 5px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

.landing-wallpaper{
    width: 68%;
    height: 120vh;
    background-color: white;
    margin: 200px;
    position: absolute;
    margin-top: 100px;
    z-index: 1000;
    border-radius: 10px;
    margin-left: 224px;
    /* margin-top: 50%; */
    /* margin-left: 50%; */
}

.landing-main{
    position: absolute;
    width: 100%;
    height: 55vh;
    background-color: #efece8;
    margin-top: 40px;
}

.information{
    background-color: orange transparent;
    width: 65%;
    height: 100%;
}

.information .howItworks{
    margin-top: 48px;
    margin-left: 69px;
    font-size: 28px;
    font-weight: 300;
    line-height: normal;
    color: #525252;
}


.information .list-The-way{
    margin-left: 52px;
    margin-top: 33px;
}

.information .list-The-way .the-full-list{
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style-type: decimal;
}

.information .list-The-way .the-full-list li{
    font-size: 21px;
    line-height: 51px;
    color: var(--gray-700);
    display: list-item;
    text-align: -webkit-match-parent;
}


.QRcode{}


.information .button{
    position: absolute;
    bottom: 25px;
    font-size: 17px;
    line-height: 1;
    color: var(--teal);
    left: 60px;
    color: teal;
}

.landing-wallpaper .Video-player{
    top: 50px;
    background-color: orange transparent;
    width: 515px;
    height: 45vh;
    position: absolute;
    margin-top: 400px;
    margin-left: 205px;
}

.landing-wallpaper .Video-player .player{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


.footer-behind{
    background-color: #131212;
    width: 1349px;
    height: 150vh;
}